@font-face {
    font-family: FerroRosso;
    src: url('./FerroRosso.ttf');
}

#gameBody {
    height: 800px;
    width: 600px;
}

#reset {
  background-image: url('FERRARI.png');
  background-color: yellow;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  font-family: FerroRosso;
  font-size: 30px;
}

.Table {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 243, 0.33);
}
.top{
  height: 20%;
  width: 60%;
  margin-left: 20%;
}

#display {
  height: 100%;
  width: 65%;
  display: inline-block;
}

#command {
  height: 100%;
  width: 32%;
  display: inline-block;
  margin-left: 1%;
}

#display-player-turn {
    height: 100%;
    width: 100%;
    color: #ABFFFB;
    font-size: 20px;
}

#Bottom {
    height: 66%;
    width: 60%;
    margin-left: 20%;
}

#Square {
  height: 70%;
  width: 100%;
}

#Banner {
  height: 100%;
  max-width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url('./Miamivice.gif');
}
.boxLeft{
  height: 32.5%;
  width: 32.5%;
  display: inline-block;
  vertical-align: top

}

.boxMid{
  height: 32.5%;
  width: 32.5%;
  display: inline-block;
  vertical-align: top
}

.boxRight{
  height: 32.5%;
  width: 32.5%;
  display: inline-block;
  vertical-align: top
}
.inputUser{
  background-color: black;
  height: 100%;
  width: 100%;
}